#principalPaneSideBar{
    -fx-background-color: #353A56;
/*  Ajouter une ombre a droite  */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 20, 0, 0, 0);
    -fx-border-radius: 30%;
}

#principalBody{
    -fx-border-radius: 50 50 50 50;
}

#loginInput, #libelleInput, TextField {
/*    je veux qu'il est seulement un border bottom comme jfxtextfield*/
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #5d669a;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#loginInput:focused, #libelleInput:focused, TextField:focused{
/* je veux qu'il soit comme  l'active de jfxtextfield*/
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}
#passwordInput{
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #5d669a;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#passwordInput:focused {
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}

TextField .content  {
    -fx-padding: 10px;
}

TextField .content .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnLogin {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnLogin:hover {
    -fx-background-color: #4b5279;
}

#btnLogin:pressed {
    -fx-background-color: #4b5279;
}

#btnLogin .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnLogin .graphic {
    -fx-padding: 10px;
}

#btnAddCategorie, #btnAddProduct, #btnAddUser {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnAddCategorie:hover, #btnAddProduct:hover, #btnAddUser:hover {
    -fx-background-color: #4b5279;
}

#btnAddCategorie:pressed, #btnAddProduct:pressed, #btnAddUser:pressed {
    -fx-background-color: #4b5279;
}

#btnAddCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnEditCategorie, #btnEditProduct, #btnEditUser {
    -fx-background-color: #e5a44d;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnEditCategorie:hover, #btnEditProduct:hover, #btnEditUser:hover {
    -fx-background-color: #f5b85e;
}

#btnEditCategorie:pressed, #btnEditProduct:pressed, #btnEditUser:pressed {
    -fx-background-color: #f5b85e;
}

#btnEditCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnDeleteCategorie, #btnDeleteProduct, #btnDeleteUser {
    -fx-background-color: #e55050;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnDeleteCategorie:hover, #btnDeleteProduct:hover, #btnDeleteUser:hover {
    -fx-background-color: #f55e5e;
}

#btnDeleteCategorie:pressed, #btnDeleteProduct:pressed, #btnDeleteUser:pressed {
    -fx-background-color: #f55e5e;
}

#btnDeleteCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnClearCategorie, #btnClearProduct, #btnClearUser {
    -fx-background-color: #888888;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnClearCategorie:hover, #btnClearProduct:hover, #btnClearUser:hover {
    -fx-background-color: #999999;
}

#btnClearCategorie:pressed, #btnClearProduct:pressed, #btnClearUser:pressed {
    -fx-background-color: #999999;
}

TableView {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

TableView .column-header-background {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

TableView .column-header-background .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

TableView .column-header-background .label:hover {
    -fx-text-fill: #4b5279;
}

TableView .column-header-background .label:pressed {
    -fx-text-fill: #4b5279;
}

TableView .column-header-background .label .graphic {
    -fx-padding: 10px;
}

TableView .column-header-background .label .graphic:hover {
    -fx-padding: 10px;
}

TableView .column-header-background .label .graphic:pressed {
    -fx-padding: 10px;
}

ComboBox {
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #353A56;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

ComboBox:focused {
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}

ComboBox .content  {
    -fx-padding: 10px;
}

ComboBox .content .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

ComboBox .content .label:hover {
    -fx-text-fill: #4b5279;
}

ComboBox .content .label:pressed {
    -fx-text-fill: #4b5279;
}

#homeNav{
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#homeNav:hover {
    -fx-background-color: #4b5279;
}

#homeNav:pressed {
    -fx-background-color: #4b5279;
}

#homeNav .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#homeNav .graphic {
    -fx-padding: 10px;
}

#circleChartLabel, #diagramChartLabel {
    -fx-text-fill: #353A56;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#categoryNav, #produitNav, #UserNav {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#categoryNav:hover, #produitNav:hover, #UserNav:hover {
    -fx-background-color: #4b5279;
}

#categoryNav:pressed, #produitNav:pressed, #UserNav:pressed {
    -fx-background-color: #4b5279;
}

#categoryNav .label, #produitNav .label, #UserNav .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#categoryNav .graphic, #produitNav .graphic, #UserNav .graphic {
    -fx-padding: 10px;
}

#closeNav {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#closeNav:hover {
    -fx-background-color: #4b5279;
}

#closeNav:pressed {
    -fx-background-color: #4b5279;
}

#closeNav .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#closeNav .graphic {
    -fx-padding: 10px;
}