#principalPaneSideBar{
    -fx-background-color: #353A56;
/*  Ajouter une ombre a droite  */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 20, 0, 0, 0);
    -fx-border-radius: 30%;
}

#principalBody{
    -fx-border-radius: 50 50 50 50;
}

#loginInput, #libelleInput, TextField {
/*    je veux qu'il est seulement un border bottom comme jfxtextfield*/
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #5d669a;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#loginInput:focused, #libelleInput:focused, TextField:focused{
/* je veux qu'il soit comme  l'active de jfxtextfield*/
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}
#passwordInput{
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #5d669a;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#passwordInput:focused {
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}

TextField .content  {
    -fx-padding: 10px;
}

TextField .content .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnLogin {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnLogin:hover {
    -fx-background-color: #4b5279;
}

#btnLogin:pressed {
    -fx-background-color: #4b5279;
}

#btnLogin .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnLogin .graphic {
    -fx-padding: 10px;
}

#btnAddCategorie, #btnAddProduct {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnAddCategorie:hover, #btnAddProduct:hover {
    -fx-background-color: #4b5279;
}

#btnAddCategorie:pressed, #btnAddProduct:pressed {
    -fx-background-color: #4b5279;
}

#btnAddCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnEditCategorie, #btnEditProduct {
    -fx-background-color: #e5a44d;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnEditCategorie:hover, #btnEditProduct:hover {
    -fx-background-color: #f5b85e;
}

#btnEditCategorie:pressed, #btnEditProduct:pressed {
    -fx-background-color: #f5b85e;
}

#btnEditCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnDeleteCategorie, #btnDeleteProduct {
    -fx-background-color: #e55050;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnDeleteCategorie:hover, #btnDeleteProduct:hover {
    -fx-background-color: #f55e5e;
}

#btnDeleteCategorie:pressed, #btnDeleteProduct:pressed {
    -fx-background-color: #f55e5e;
}

#btnDeleteCategorie .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

#btnClearCategorie, #btnClearProduct {
    -fx-background-color: #888888;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

#btnClearCategorie:hover, #btnClearProduct:hover {
    -fx-background-color: #999999;
}

#btnClearCategorie:pressed, #btnClearProduct:pressed {
    -fx-background-color: #999999;
}

TableView {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

TableView .column-header-background {
    -fx-background-color: #353A56;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 30px;
}

TableView .column-header-background .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

TableView .column-header-background .label:hover {
    -fx-text-fill: #4b5279;
}

TableView .column-header-background .label:pressed {
    -fx-text-fill: #4b5279;
}

TableView .column-header-background .label .graphic {
    -fx-padding: 10px;
}

TableView .column-header-background .label .graphic:hover {
    -fx-padding: 10px;
}

TableView .column-header-background .label .graphic:pressed {
    -fx-padding: 10px;
}

ComboBox {
    -fx-background-color: transparent;
    -fx-border-color: #353A56;
    -fx-border-width: 0 0 2 0;
    -fx-border-radius: 0;
    -fx-prompt-text-fill: #353A56;
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

ComboBox:focused {
    -fx-border-color: #4b5279;
    -fx-border-width: 0 0 2 0;
}

ComboBox .content  {
    -fx-padding: 10px;
}

ComboBox .content .label {
    -fx-text-fill: #353A56;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

ComboBox .content .label:hover {
    -fx-text-fill: #4b5279;
}

ComboBox .content .label:pressed {
    -fx-text-fill: #4b5279;
}
